'scopeName': 'source.as'
'fileTypes': [
  'as', "fos"
]
'name': 'Angelscript'
'patterns': [
  {
    'include': 'source.c'
  }
  {
    'include': 'source.cpp'
  }
  {
    'match': '\\b(is|!is)\\b'
    'name': 'keyword.operator.as'
  }
  {
    'match': '\\bnull\\b'
    'name': 'variable.language.as'
  }
]
