
*.fomapb
*.fosb
*.fosp
Server/scripts/Mk2.fos
/Client
Tools/Mapper/FOMapper.log
*.log
/Tools/Mapper/FOMapper.log
Server/text/engl/FODLG.MSG
Server/text/russ/FODLG.MSG
Server/text/ukra/FODLG.MSG
Server/Override/*
Server/save/*
Server/scripts/hash/Dialog.fosb
