
*.fomapb
*.fosb
*.fosp
Server/scripts/Mk2.fos
/Client
Tools/Mapper/FOMapper.log
*.log
/Tools/Mapper/FOMapper.log
Server/text/engl/FODLG.MSG
Server/text/russ/FODLG.MSG
Server/text/ukra/FODLG.MSG
Server/Override/*
Server/save/*
Server/scripts/hash/*
Server/playerIps.lst
Server/WorldVersion
UpdateServer/Update/fallout.dat
UpdateServer/Update/Mk2Art.zip
UpdateServer/UpdateFiles.lst
Server/profiler/*.foprof
Server/data/farm_locations/GlobalLocation.fofarmloc
Server/data/farm_locations/Locations.fofarmloc
Server/maps/GenerateWorld.cfg
Server/maps/Locations.cfg
Server/playerIps.lst
Server/scripts/hash/Dialog.fosb
