<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuctionAdminMK2.Properties.Settings.mk2ConnectionString"
            connectionString="data source=..\..\Server\mk2.db;FailIfMissing=True"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>