# [Field]
# Text - Label to display with control.
# FieldName - Variable name under ProtoItem.
# ItemTab - Subtab to put item in. Valid options: Armor, Ammo, Car, Container, Drug, Door, Generic, Grid, Key, Misc, Wall, Weapon or Custom created with CreateTab
# 	If no ItemTab is specified, previous one found is taken.
# DataType - Valid options: int, int16, uint, uint16, byte, bool
# PosX - Offset control in X direction with some pixels.
# PosY - Offset control in Y direction with some pixels.
# IncX - Increase X position with this many pixels after placing control. Only available with [Common]. Default=0
# IncY - Increase Y position with this many pixels after placing control. Only available with [Common]. Default=20
# Width - Set custom width of control, only valid for integers.
# Space - Fixed space in pixels between label and numerical field.
# Min - Set min value, only valid for integers. Default=0.
# Max - Set max value, only valid for integers. Default=100.

# Special entries: 
# [Common] - Set common default parameters and position for further drawing with PosX, PosY
# [Label] ItemType, Text - Draw a label in some tab, with text.
# [CreateTab] - Create a new tab
# TopTab - (Armor .. Weapon), if non-existing is entered, a new tab is created
# ItemTab - Identifier, for usage by other elements.
# Text - Label of ItemTab

# Notes:
# Startposition in tab is 10,10.
# At least one empty line between each entry is needed.
# . is not allowed in any name TopTab or ItemTab name.
# All data is processed in a procedural fashion (like a script).

# Armor Section
[CreateTab]
TopTab=Armor
ItemTab=ArmorSecond
Text=Second

[Common]
ItemTab=ArmorSecond
Space=75 # 75 pixels between all labels and fields in this tab
PosY=25

[Field]
Text=ArmorClass
FieldName=Armor_AC
DataType=int

[Field]
Text=Perk
FieldName=Armor_Perk
DataType=int

[Label]
Text=Bonus for out of combat:

[Field]
Text=  
FieldName=BonusForOutOfCombat
DataType=int

[Common]
PosX=180
PosY=10

[Label]
Text=Emp damage:

[Field]
Text=Slow Value
FieldName=Emp_SlowEffect
DataType=int

[Field]
Text=Slow Time
FieldName=Emp_TimeSlow
DataType=int

[Field]
Text=Lose APoint
FieldName=Emp_LostAP
DataType=int

[CreateTab]
TopTab=Armor
ItemTab=ArmorResist
Text=Resist

[Common]
ItemTab=ArmorResist
Space=75 # 75 pixels between all labels and fields in this tab

[Field]
Text=Normal
FieldName=Armor_DRNormal
DataType=int

[Field]
Text=Laser
FieldName=Armor_DRLaser
DataType=int

[Field]
Text=Fire
FieldName=Armor_DRFire
DataType=int

[Field]
Text=Plasma
FieldName=Armor_DRPlasma
DataType=int

[Common]
PosX=180
PosY=10

[Field]
Text=Electro
FieldName=Armor_DRElectr
DataType=int

[Field]
Text=Emp
FieldName=Armor_DREmp
DataType=int
Max=500

[Field]
Text=Explode
FieldName=Armor_DRExplode
DataType=int

[CreateTab]
TopTab=Armor
ItemTab=ArmorThreshold
Text=Threshold

[Common]
ItemTab=ArmorThreshold
Space=75 # 75 pixels between all labels and fields in this tab

[Field]
Text=Normal
FieldName=Armor_DTNormal
DataType=int

[Field]
Text=Laser
FieldName=Armor_DTLaser
DataType=int

[Field]
Text=Fire
FieldName=Armor_DTFire
DataType=int

[Field]
Text=Plasma
FieldName=Armor_DTPlasma
DataType=int

[Common]
PosX=180
PosY=10

[Field]
Text=Electro
FieldName=Armor_DTElectr
DataType=int

[Field]
Text=Emp
FieldName=Armor_DTEmp
DataType=int

[Field]
Text=Explode
FieldName=Armor_DTExplode
DataType=int

# Weapon Section
[CreateTab]
TopTab=Weapon
ItemTab=WeaponOther
Text=Other

[Common]
ItemTab=WeaponOther
Space=75 # 75 pixels between all labels and fields in this tab

[Field]
Text=SecondPerk
FieldName=Weapon_SecondPerk
DataType=int

[Field]
Text=ReloadAp
FieldName=Weapon_ReloadAp
DataType=int

[Field]
Text=UnarmedCrit
FieldName=Weapon_UnarmedCriticalBonus
DataType=int

[Field]
Text=UnarmedACPiercing
FieldName=Weapon_UnarmedArmorPiercing
DataType=bool

[Common]
PosX=180
PosY=10

[Label]
Text=Lightning:

[Field]
Text=Radius
FieldName=Weapon_LightningRadius
DataType=int

[Field]
Text=CountTarget
FieldName=Weapon_LightningCountTarget
DataType=int

[Common]
PosX=350
PosY=10

[Label]
Text=Mortira:

[Field]
Text=Distance
FieldName=Weapon_FlyingDistance
DataType=int

[Common]
PosX=520
PosY=10

[Label]
Text=Critical:

[Field]
Text=Add chance
FieldName=Weapon_CriticalBonus
DataType=int

[Field]
Text=Add roll
FieldName=Weapon_BonusCritRoll
DataType=int

[CreateTab]
TopTab=Weapon
ItemTab=WeaponOther2
Text=Other2

[Common]
ItemTab=WeaponOther2

[Field]
Text=IgnoreAc
FieldName=Weapon_IgnoreAC
DataType=int
Min=0
Max=255

[Field]
Text=HexRadius
FieldName=HexWeapon_Radius
DataType=int
Min=0
Max=255

[Field]
Text=AddToHit
FieldName=Weapon_BonusToHit
DataType=int
Min=0
Max=10000

[Common]
PosX=180
PosY=10

[Field]
Text=NoBurst0
FieldName=Weapon_NoBurst_0
DataType=bool

[Field]
Text=NoBurst1
FieldName=Weapon_NoBurst_1
DataType=bool

[Field]
Text=NoBurst2
FieldName=Weapon_NoBurst_2
DataType=bool

[Field]
Text=IgnoreRaked
FieldName=Weapon_ZoneAttackIgnoreNotRaked
DataType=bool


[Common]
PosX=350
PosY=10

[Field]
Text=TypeAttack0
FieldName=Weapon_TypeAttack_0
DataType=int

[Field]
Text=TypeAttack1
FieldName=Weapon_TypeAttack_1
DataType=int

[Field]
Text=TypeAttack2
FieldName=Weapon_TypeAttack_2
DataType=int

# Misc Section
[CreateTab]
TopTab=Misc
ItemTab=MiscOther
Text=Other

[Common]
ItemTab=MiscOther
Space=75
PosY=25

[Field]
Text=EffectSpeed
FieldName=EffectSpeed
DataType=int
Min=0
Max=10000

[Field]
Text=Ignition
FieldName=Ignition
DataType=bool

[Common]
PosX=180
PosY=10

[Label]
Text=Childs:

[Field]
Text=Pid0
FieldName=ChildPid_0
DataType=int
Min=0
Max=30000

[Field]
Text=Pid1
FieldName=ChildPid_1
DataType=int
Min=0
Max=30000

[Field]
Text=Pid2
FieldName=ChildPid_2
DataType=int
Min=0
Max=30000

[Field]
Text=Pid3
FieldName=ChildPid_3
DataType=int
Min=0
Max=30000

[Field]
Text=Pid4
FieldName=ChildPid_4
DataType=int
Min=0
Max=30000

[CreateTab]
TopTab=Misc
ItemTab=MiscBook
Text=Book
Space=75 # 75 pixels between all labels and fields in this tab

[Common]
ItemTab=MiscBook

[Field]
Text=IsReadable
FieldName=IsReadableBook
DataType=int
Min=0
Max=1

[Field]
Text=AddPoint
FieldName=BookAddPoint
DataType=int
Min=0
Max=255

[Field]
Text=CountRead
FieldName=BookCountRead
DataType=int

[Field]
Text=IsSkill
FieldName=IsSkillBook
DataType=int

[Field]
Text=NumberParam
FieldName=BookNumberParam
DataType=int

[Field]
Text=Number
FieldName=BookNumber
DataType=int

# Craft Section
[CreateTab]
TopTab=Misc
ItemTab=Upgrade
Text=Upgrade
Space=75 # 75 pixels between all labels and fields in this tab

[Common]
ItemTab=Upgrade

[Field]
Text=Trigger
FieldName=Upgrade_Trigger
DataType=int
Min=0
Max=255

[Field]
Text=Value0
FieldName=Upgrade_TriggerValue0
DataType=int
Min=0
Max=10000

[Field]
Text=Value1
FieldName=Upgrade_TriggerValue1
DataType=int
Min=0
Max=10000

[Common]
PosX=180
PosY=10

[Field]
Text=Effect
FieldName=Upgrade_Effect
DataType=int
Min=0
Max=255

[Field]
Text=Value0
FieldName=Upgrade_EffectValue0
DataType=int
Min=0
Max=10000

[Field]
Text=Value1
FieldName=Upgrade_EffectValue1
DataType=int
Min=0
Max=10000

[Common]
PosX=350
PosY=10

[Field]
Text=ForType
FieldName=Upgrade_Type
DataType=int
Min=0
Max=255

[Field]
Text=Value0
FieldName=Upgrade_TypeValue0
DataType=int
Min=0
Max=30000

[Field]
Text=Value1
FieldName=Upgrade_TypeValue1
DataType=int
Min=0
Max=30000

# Craft Section
[CreateTab]
TopTab=Misc
ItemTab=Craft
Text=Craft
Space=75 # 75 pixels between all labels and fields in this tab

[Common]
ItemTab=Craft

[Field]
Text=CraftInfo
FieldName=CraftInfo
DataType=int
Min=0
Max=10000

[Label]
Text=Max repair count:

[Field]
Text=  
FieldName=MaxRepairCount
DataType=int

[Label]
Text=Broken coefficient:

[Field]
Text=  
FieldName=BrokenCoefficient
DataType=int
Max=10000

[Field]
Text=Randomisable
FieldName=Randomisable
DataType=int

[Common]
PosX=180
PosY=10

[Label]
Text=IndexCraftList:

[Field]
Text=  
FieldName=IndexCraftList
DataType=int
Max=10000

# Ammo Section
[Common]
ItemTab=AmmoMain
Space=75
PosX=127
PosY=37

[Field]
Text=Dmg Mult
FieldName=Ammo_DmgMult
DataType=uint

[Field]
Text=Dmg Div
FieldName=Ammo_DmgDiv
DataType=uint

[Field]
Text=Perk
FieldName=Ammo_Perk
DataType=uint

[Field]
Text=Type Damage
FieldName=Ammo_DmgType
DataType=uint

[Common]
ItemTab=AmmoMain
Space=75
PosX=300
PosY=37

[Field]
Text=DTDiv
FieldName=Ammo_DTDiv
DataType=uint
Max=255